# Ambiente Virtual (Orange Data Mining)
ambiente-orange/

# Cache Python
__pycache__/
*.pyc
*.pyo

# Editor
.vscode/
.idea/
*.code-workspace

# Sistema
.DS_Store
Thumbs.db

# Arquivos de teste temporários
test.*
